// 颜色定义规范
$color-background = #fff
$color-background-d = #f5f5f9
$color-highlight-background = rgba(200, 38, 40, 0.05)
$color-dialog-background = #666
$color-theme = #d43c33
$color-theme-d = rgba(200, 38, 40, 0.5)
$color-sub-theme = #d93f30
$color-text = #888
$color-text-d = rgba(0, 0, 0, 1)
$color-text-l = rgba(0, 0, 0, 0.8)
$color-text-ll = rgba(0, 0, 0, 0.6)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
